# Ignore git things
.git

# Do not copy over node_modules as the local build may not be valid. We will `npm build` while
# constructing the docker image
node_modules/

# Ignore development tools
run_docker_container.sh